<html>
  <head>
    <title>Website Title</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
  </head>
  <body>
    <header>
      <h1>H1 tag for my website</h1>
    </header>
    <main>
      <h2>{{ title }}</h2>
      <p>{{ content }}</p>
    </main>
    {% render "footer" %}
  </body>
</html>