---
layout: base
title: index page
---
is this working?
<a href="/hello">link to hello page</a>


<p>I pulled that code that renders a park from maine.liquid and massachusetts.liquid into another file called park_data_page.liquid to help keep things DRY</p>
<a href="/maine">maine parks (data comes from src/_data/maine.json)</a><br>

<a href="/massachusetts">massachusetts parks (data comes from src/_data/massachusetts.js)</a><br>

<a href="/all-parks">link to page that links to all parks (each park was created with 11ty pagination)</a><br>